<head>
  <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../assets/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="../../assets/images/auth/login-bg.jpg">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '{your-app-id}',
      cookie: true,
      xfbml: true,
      version: '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<body class="sidebar-dark">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="http://www.urbanui.com/majestic-admin-pro/template/images/logo.svg" alt="logo">
              </div>
              <!-- <img src="../../assets/images/auth/login-bg.jpg" id="icon" alt="User Icon" /> -->
              <h4>Welcome back!</h4>
              <h6 class="font-weight-light">Happy to see you again!</h6>
              <form [formGroup]="angForm" novalidate class="pt-3">
                <form [formGroup]="angForm" novalidate>

                  <div class="form-group">
                    <label for="exampleInputEmail">Tài khoản</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control form-control-lg border-left-0" formControlName="email"
                        #email id="exampleInputEmail" placeholder="Tài khoản">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword">Mật khẩu</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input type="password" class="form-control form-control-lg border-left-0"
                        id="exampleInputPassword" placeholder="Mật khẩu" formControlName="password" #password>
                    </div>
                  </div>
                  <div class="my-3">
                    <button (click)="login(email.value, password.value)" mat-raised-button
                      style="margin-top: 10px;color: white;" type="submit"
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                      [disabled]="angForm.pristine || angForm.invalid">Đăng nhập</button>

                  </div>

                  <!-- <button (click)="loginfb()" mat-raised-button
                    style="margin-top: 10px;color: white;background-color: rgb(34, 86, 184);" type="submit"
                    class="btn btn-default">Facebook</button> -->
                  <!-- <div class="text-center mt-4 font-weight-light">
                      Don't have an account? <a href="register-2.html" class="text-primary">Create</a>
                    </div> -->
                </form>



                <div class="mb-2 d-flex">
                  <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                    <i class="mdi mdi-facebook mr-2"></i>Facebook
                  </button>
                  <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                    <i class="mdi mdi-google mr-2"></i>Google
                  </button>

                </div>
                <div class="text-center mt-4 font-weight-light">
                  Chưa có tài khoản? <a routerLink="/register" class="text-primary"> Đăng ký</a>
                </div>
                <!-- <p style="margin-top:30px ;" class="lead">Chưa có tài khoản? Đăng ký <a style="color: #0C910C"
                routerLink="/register">register</a> instead.</p> -->
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <img src="../../assets/images/auth/bg.jpg" style=" background-size: cover;" height="760px"
              width="900px" id="icon" alt="User Icon" />
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018 All
              rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>
