<div style="background-color: #D2691E">
  <div class="row">
    <div class="col-sm-6">
      <b style="margin-left:35px; color: white; font-size: 30px;">ETEST</b>
    </div>
    <div class="col-sm-6">
      <div class="" style="margin-left:35px;">
        <span style="text-align: center; font-size: 22px; color: white;"><a style="color: white;" routerLink="/">Trang
            chủ</a></span>&nbsp;&nbsp;&nbsp;
        <span style=" font-size: 22px; color: white;" *ngIf="!auth.isLoggedIn()"><a style="color: white;"
            routerLink="/login">Đăng nhập</a></span>
        <span style=" font-size: 22px; color: white" *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" routerLink=""
            style="color: white">Đăng xuất</a></span>
      </div>
    </div>
  </div>




</div>
