<table class="table table-hover">
    <thead>
    <tr>
        <td><b>Mã câu hỏi</b></td>
        <td><b>Nội dung câu hỏi</b></td>
        <td><b>Mức độ </b></td>
        <td colspan="2"><i>Hành động</i></td>
    </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let quizz of quizzs">
            <td>{{ quizz.code }}</td>
            <td>{{ quizz.content }}</td>
            <td>{{ quizz.level }}</td>
            <td><a [routerLink]="['/edit', quizz._id]" class="btn btn-primary">Sửa</a></td>
            <td><a (click) = "deleteQuizz(quizz._id)" class="btn btn-danger"  style="color: white;">Xóa</a>
        </tr>
    </tbody>
</table>