<div style="margin-left: 40%; margin-top:50px" class="container">
  <div class="row">

     <div class="col-md-6">

      <h1 style="margin-bottom: 30px;" class="form-signin-heading">Xin chào {{ details?.name }}</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label" class="form-control-static">Tên: {{ details?.name }}</label>
          <p class="form-control-static"></p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" class="form-control-static">Email: {{ details?.email }}</label>
         
        </div>
      </div>
    </div>
  </div>
</div>
